include LICENSE
include NOTICE
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
include Makefile
include Dockerfile
recursive-include docs *.md
recursive-include deploy *.yml *.service
recursive-include integration *.js
recursive-include tests *.py *.js
recursive-include scripts *.py *.sh
